<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.androidhive.slidingmenu"
    android:versionCode="1"
    android:versionName="1.0" >
    
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ec_color_turqoise"
        android:label="@string/app_name" 
        android:theme="@style/AppBaseTheme1">
        <activity
            android:name="info.androidhive.slidingmenu.LoginActivity"
            android:theme="@style/MyCustomTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.androidhive.slidingmenu.MainActivity"
            android:allowBackup="true"
            android:icon="@drawable/ect"
            android:label="@string/app_name"
            android:theme="@style/MyCustomTheme" >
        </activity>
        <activity
            android:name="info.androidhive.slidingmenu.CreateUserActivity"
            android:icon="@drawable/nadat"
            android:label="@string/app_nada"
            android:theme="@style/MyCustomTheme" >
        </activity>
    </application>

</manifest>